<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:object="${userPrevPasswordConfirm}">
    <input type="text" hidden th:field="*{userId}"/>
    <input type="text" th:field="*{account}"/>
    <label>현재 비밀번호:</label>
    <input type="password" th:field="*{rawPassword}"/>
    <p class="text-danger m-0 p-0" th:each="err : ${#fields.globalErrors()}" th:text="${err}">
        오류 메세지
    </p>
    <button>확인</button>
</form>
</body>
</html>